<h2>Edit Movie</h2>

<form method='post' action ='/movies/<%=@movie.id%>' id='edit_movie'>
  <input id='hidden' type='hidden' name='_method' value='patch'>

  <p>Movie Name: <input type='text' name='movie[name]' value='<%=@movie.name%>'></p>

  <p>Release Year: <input type='text' name='movie[year]' value='<%=@movie.year%>'></p>

  <p>Where to Watch: <input type='text' name='movie[where_to_watch]' value='<%=@movie.where_to_watch%>'</p>
  
  <p>Notes:</p>
    <textarea rows="4" cols="50" name="movie[desc]" form='edit_movie' ><%=@movie.desc%></textarea>


  <p><input type='submit' value='Submit'></p>

</form>
