<p>Movie: <%=@movie.name%></p>
<p>Release Year: <%=@movie.year%></p>
<p>Where to Watch: <%=@movie.where_to_watch%></p>
<p>Notes: <%=@movie.desc%></p>

<form method='get' action ='/movies/<%=@movie.id%>/edit'>
  <input type='submit' value='Edit'>
</form>

<form method='post' action ='/movies/<%=@movie.id%>'>
  <input id='hidden' type='hidden' name='_method' value='delete'>
  <input type='submit' value='Delete From List'>
</form>
