<h1><%=@user.username%>'s Watchlist!</h1>
<p><a href='/movies/new'>Add Movie</a> | <a href='/shows/new'>Add Show</a></p>


<h3>Movies</h3>
<%@user.movies.each do |m|%>
  <p><a href="/movies/<%=m.id%>"><%=m.name%> (<%=m.year%>)</a></p>
<%end%>

<h3>Shows</h3>
<%@user.shows.each do |s|%>
  <p><a href="/shows/<%=s.id%>"><%=s.name%></a> - <%=s.next_episode%></p>
<%end%>
